GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
GITHUB_CONNECT_CALLBACK_URL=
GITHUB_SYSTEM_TOKEN=

DATABASE_URL="postgresql://user:password@localhost:5432/h_linker_db?schema=public"

JWT_SECRET=
JWT_EXPIRE=

CLIENT_URL=http://localhost