.fields-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.danger-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  &:first-child { padding-top: 0; }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    strong { font-size: 15px; }
  }
}